04-AI-Workflow-Automation/n8n-workflows/lead-automation.json
{"name":"Phoenix Qualified Lead Automation","nodes":[{"parameters":{"httpMethod":"POST","path":"phoenix-qualified-lead","responseMode":"responseNode","options":{}},"id":"webhook","name":"Receive Qualified Lead","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"webhookId":"phoenix-qualified-lead"},{"parameters":{"conditions":{"options":{"caseSensitive":true},"conditions":[{"leftValue":"={{ $json.email || '' }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"}},"id":"email-check","name":"Customer Email Available?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[240,0]},{"parameters":{"assignments":{"assignments":[{"id":"mode","name":"delivery_mode","value":"test-mode","type":"string"},{"id":"customer","name":"customer_message","value":"={{ $json.personalized_reply }}","type":"string"},{"id":"owner","name":"owner_notification","value":"={{ 'New ' + $json.lead_status + ' lead: ' + $json.full_name }}","type":"string"},{"id":"followup","name":"follow_up_task","value":"={{ $json.recommended_action }}","type":"string"}]}},"id":"prepare","name":"Prepare Email and Follow-up","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[480,-80]},{"parameters":{"assignments":{"assignments":[{"id":"skip","name":"delivery_mode","value":"skipped-no-email","type":"string"}]}},"id":"missing","name":"Handle Missing Customer Email","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[480,120]},{"parameters":{"respondWith":"json","responseBody":"={{ { success: true, lead_id: $('Receive Qualified Lead').item.json.lead_id, delivery_mode: $json.delivery_mode, follow_up_created: true } }}","options":{}},"id":"response","name":"Return Structured Success","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[730,0]}],"connections":{"Receive Qualified Lead":{"main":[[{"node":"Customer Email Available?","type":"main","index":0}]]},"Customer Email Available?":{"main":[[{"node":"Prepare Email and Follow-up","type":"main","index":0}],[{"node":"Handle Missing Customer Email","type":"main","index":0}]]},"Prepare Email and Follow-up":{"main":[[{"node":"Return Structured Success","type":"main","index":0}]]},"Handle Missing Customer Email":{"main":[[{"node":"Return Structured Success","type":"main","index":0}]]}},"pinData":{},"settings":{"executionOrder":"v1"},"active":false,"versionId":"11111111-1111-4111-8111-111111111111","tags":[]}
